TwinklCRM.Client/Service References/SchedulerService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TwinklCRM.DAL.Models.DatabaseObjectModels.Views" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TwinklCRM.DAL.Models.DatabaseObjectModels.Views" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:47877/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TwinklCRM.DAL.Models.DatabaseObjectModels" />
  <xs:complexType name="ArrayOfViewVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViewVehicle" nillable="true" type="tns:ViewVehicle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViewVehicle" nillable="true" type="tns:ArrayOfViewVehicle" />
  <xs:complexType name="ViewVehicle">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/TwinklCRM.DAL.Models.DatabaseObjectModels" base="q1:DbObjectBaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ParentId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PassengersCount" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="RegistrationNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ViewVehicle" nillable="true" type="tns:ViewVehicle" />
  <xs:complexType name="ArrayOfViewAssignedDeal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViewAssignedDeal" nillable="true" type="tns:ViewAssignedDeal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViewAssignedDeal" nillable="true" type="tns:ArrayOfViewAssignedDeal" />
  <xs:complexType name="ViewAssignedDeal">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/TwinklCRM.DAL.Models.DatabaseObjectModels" base="q2:DbObjectBaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="DateEnd" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateStart" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DealStatusId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IsDel" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="PassengersCount" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="PerformerId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Route" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TripTypeId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="TripTypeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VehicleId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ViewAssignedDeal" nillable="true" type="tns:ViewAssignedDeal" />
</xs:schema>