FredroClient/Service References/MailService/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FredroDAL.Models.DatabaseObjectModels.Tables.Dictionaries" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FredroDAL.Models.DatabaseObjectModels.Tables.Dictionaries" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:47887/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FredroDAL.Models.DatabaseObjectModels" />
  <xs:complexType name="DictionaryEmailServer">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/FredroDAL.Models.DatabaseObjectModels" base="q1:DbObjectBaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IsDel" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="OriginClientUrl" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DictionaryEmailServer" nillable="true" type="tns:DictionaryEmailServer" />
  <xs:complexType name="DictionaryEmailServerParam">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/FredroDAL.Models.DatabaseObjectModels" base="q2:DbObjectBaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EmailServerId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Hostname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IsDel" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsIncoming" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsOutgoing" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Port" type="xs:int" />
          <xs:element minOccurs="0" name="UseSsl" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DictionaryEmailServerParam" nillable="true" type="tns:DictionaryEmailServerParam" />
</xs:schema>