FredroClient/Service References/MailService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FredroDAL.Models.DatabaseObjectModels.Tables" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FredroDAL.Models.DatabaseObjectModels.Tables" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:47887/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FredroDAL.Models.DatabaseObjectModels" />
  <xs:complexType name="TheMail">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/FredroDAL.Models.DatabaseObjectModels" base="q1:DbObjectBaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ChachedEmailBoxId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FromAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FromDisplayName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FromFullRaw" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsIncoming" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsOutcoming" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsRead" type="xs:boolean" />
          <xs:element minOccurs="0" name="MailedBy" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SignedBy" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ToAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ToDisplayName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ToFullRaw" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TheMail" nillable="true" type="tns:TheMail" />
  <xs:complexType name="ArrayOfTheMail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TheMail" nillable="true" type="tns:TheMail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTheMail" nillable="true" type="tns:ArrayOfTheMail" />
</xs:schema>