FredroClient/Service References/MailService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FredroDAL.Models.DatabaseObjectModels.Tables" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FredroDAL.Models.DatabaseObjectModels.Tables" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:47887/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FredroDAL.Models.DatabaseObjectModels" />
  <xs:import schemaLocation="http://localhost:47887/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FredroDAL.Models.DatabaseObjectModels.Tables.Dictionaries" />
  <xs:complexType name="TheMail">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/FredroDAL.Models.DatabaseObjectModels" base="q1:DbObjectBaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ChachedEmailBoxId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FromAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FromDisplayName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FromFullRaw" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsIncoming" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsOutcoming" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsRead" type="xs:boolean" />
          <xs:element minOccurs="0" name="MailedBy" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SignedBy" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ToAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ToDisplayName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ToFullRaw" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TheMail" nillable="true" type="tns:TheMail" />
  <xs:complexType name="ArrayOfCachedEmailBox">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CachedEmailBox" nillable="true" type="tns:CachedEmailBox" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCachedEmailBox" nillable="true" type="tns:ArrayOfCachedEmailBox" />
  <xs:complexType name="CachedEmailBox">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/FredroDAL.Models.DatabaseObjectModels" base="q2:DbObjectBaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FredroDAL.Models.DatabaseObjectModels.Tables.Dictionaries" minOccurs="0" name="EmailServer" nillable="true" type="q3:DictionaryEmailServer" />
          <xs:element minOccurs="0" name="EmailServerId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FredroDAL.Models.DatabaseObjectModels.Tables.Dictionaries" minOccurs="0" name="IncomingEmailServerParam" nillable="true" type="q4:DictionaryEmailServerParam" />
          <xs:element minOccurs="0" name="IncomingEmailServerParamId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IsDel" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FredroDAL.Models.DatabaseObjectModels.Tables.Dictionaries" minOccurs="0" name="OutgoingEmailServerParam" nillable="true" type="q5:DictionaryEmailServerParam" />
          <xs:element minOccurs="0" name="OutgoingEmailServerParamId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CachedEmailBox" nillable="true" type="tns:CachedEmailBox" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/FredroDAL.Models.DatabaseObjectModels" base="q6:DbObjectBaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsDel" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PasswordHash" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfTheMail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TheMail" nillable="true" type="tns:TheMail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTheMail" nillable="true" type="tns:ArrayOfTheMail" />
</xs:schema>