FredroClient/Service References/FredroWcfServer/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FredroWcfServer.Models.DatabaseObjectModels.Tables" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FredroWcfServer.Models.DatabaseObjectModels.Tables" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTheMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TheMessage" nillable="true" type="tns:TheMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTheMessage" nillable="true" type="tns:ArrayOfTheMessage" />
  <xs:complexType name="TheMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FromAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromDisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromFullRaw" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsIncoming" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsOutcoming" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRead" type="xs:boolean" />
      <xs:element minOccurs="0" name="MailedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToDisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToFullRaw" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TheMessage" nillable="true" type="tns:TheMessage" />
</xs:schema>