FredroClient/Service References/FredroWcfServer/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FredroWcfServer.Models.DatabaseObjectModels.Tables" />
  <xs:element name="GetAllMessages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FredroWcfServer.Models.DatabaseObjectModels.Tables" minOccurs="0" name="GetAllMessagesResult" nillable="true" type="q1:ArrayOfTheMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>