TwinkleClient/Service References/SchedulerService/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:47877/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TwinkleDAL.Models.DatabaseObjectModels.Views" />
  <xs:import schemaLocation="http://localhost:47877/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/TwinkleDAL.Models.DatabaseObjectModels.Tables" />
  <xs:element name="Join">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResources">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TwinkleDAL.Models.DatabaseObjectModels.Views" minOccurs="0" name="GetResourcesResult" nillable="true" type="q1:ArrayOfViewVehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appointmentId" type="xs:int" />
        <xs:element minOccurs="0" name="resourceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appointmentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appointmentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAssignedAppointments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TwinkleDAL.Models.DatabaseObjectModels.Views" minOccurs="0" name="assignedAppointments" nillable="true" type="q2:ArrayOfViewAssignedDeal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFreeAppointments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TwinkleDAL.Models.DatabaseObjectModels.Tables" minOccurs="0" name="freeAppointments" nillable="true" type="q3:ArrayOfDeal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>